
<div class="landingpage">
  <div class="bgimage"></div>
  <a class="actionitem" href='http://127.0.0.1:8080/swar/ServletSWAR?page=25'>
    <h1>
      Recycling Transaction
    </h1>
    <p>
      This is the supplementary text for Action 1.
    </p>
  </a>
  <a class="actionitem" href='http://127.0.0.1:8080/swar/ServletSWAR?page=37'>
    <h1>
      Disposal Action
    </h1>
    <p>
      This space could also be used for info text.
    </p>
  </a>

  <div class="secondaryitems">
    <div><p>Action 3</p></div>
    <div><p>Action 4</p></div>
    <div><p>Action 5</p></div>
    <div><p>Action 6</p></div>
  </div>

</div>