
<div class="landingpage">
  <div class="bgimage"></div>
  <a class="actionitem" routerLink='/disposal'>
    <h1>
      Disposal Transaction
    </h1>
    <p>
      Create or edit Disposal Transactions at your current facility.
    </p>
  </a>
  <a class="actionitem" routerLink='/recycling'>
    <h1>
      Recycling Transaction
    </h1>
    <p>
      Create or edit Recycling Transactions at your current facility.
    </p>
  </a>


  <div class="secondaryitems buttonBox">
    <div class="" routerLink='/datacalladmin'><p>DataCall<br>Select</p></div>
    <div class="" routerLink='/installation'><p>Installation<br>Select</p></div>
    <div class='disabled'><p>Program Costs<br>Coming Soon</p></div>
    <div class="disabled"><p>Reporting<br>Coming Soon</p></div>
  </div>

</div>