<div class="menu">
  <div class="swarlogo">
    <h1 routerLink='/home'>SWARWeb</h1>
  </div>
</div>

<div class="facilityinfo">
  <app-timer></app-timer>
  <h2 class="menuItem" routerLink='/disposal'>Disposal</h2>
  <!-- <h2 class="menuItem two" routerLink='/recycling'>Recycling</h2> -->
  <h2 class="menuItem two" routerLink='/installation'>Installation</h2>
  <h2 class="menuItem three" routerLink='/useradmin'>Users</h2>

 <i class="facilityInfoBoxToggle fas fa-building fa-lg"></i>
</div>
<!-- <app-alerts></app-alerts>  -->
<app-installation-idbox></app-installation-idbox>