div#timerdisplay {
    position: absolute;
    display: inline-block;
    width: 215px;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    left: 0px;
    z-index: 6;
    top: 90px;
    padding-left: 10px;
    background: #294766;
}

div#timerdisplay::after {
    content: " ";
    border-top: 25px solid #294766;
    border-right: 25px solid hsla(0, 0%, 0%, 0);
    position: absolute;
    left: 215px;
    z-index: -5;
}