<form [formGroup]="form" (ngSubmit)="SaveSubmit()">
  <div class="userInfoBox">
    <h1 class="headline">Request Account<i aria-label="Help Button for User Request Form" class="formTooltip fas fa-question-circle" style="margin: 0px 0px 0px 20px"></i></h1>

    <br>

    <div class="miniBox">
      <label for="FirstName" class="userData">First Name:</label>
      <mat-form-field>
        <input matInput placeholder="First Name" autocomplete="off" id="FirstName" type="text" class="userData" formControlName="firstName">
      </mat-form-field>

      <label for="LastName" class="userData">Last Name:</label>
      <mat-form-field>
        <input matInput placeholder="Last Name" autocomplete="off" id="LastName" type="text" class="userData" formControlName="lastName">
      </mat-form-field>
    </div>

    <div class="miniBox2">
      <label for="Email" class="userData">Email:</label>
      <mat-form-field>
        <input matInput placeholder="Email" autocomplete="off" id="Email" type="text" class="userData" formControlName="email">
      </mat-form-field>

      <label for="Phone" class="userData">Phone:</label>
      <mat-form-field>
        <input matInput placeholder="Phone" autocomplete="off" id="Phone" type="text" class="userData" formControlName="phone">
      </mat-form-field>
    </div>
      
    <div class="miniBox">
      <label for="UserID" class="userData">User ID:</label>
      <mat-form-field>
        <input matInput placeholder="User ID" autocomplete="off" id="UserID" type="text" class="userData" formControlName="userID">
      </mat-form-field>

      <label for="Installation" class="userData">Installation:</label>
      <mat-form-field>
        <input matInput placeholder="Installation" autocomplete="off" id="Installation" type="text" class="userData" formControlName="installation">
      </mat-form-field>
    </div>

    <br>

      <button mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>

  </div>
</form>
  