<form [formGroup]="form">
  <div class="disposalTransactionBox">
    <h1 class="headline">Disposal Transaction<i aria-label="Help Button for Disposal Transactions" class="formTooltip fas fa-question-circle" style="margin: 0px 0px 0px 20px"></i></h1>

    <div class="miniBox">
        <h1>Enter your Transaction Date: </h1><br>
        <input class='datePicker' autocomplete="off" [matDatepicker]="myDatepicker" formControlName="actionDate">
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>

      <label for="transactionFacility" class="transactionValue">Facility: </label> 
      <mat-form-field>
        <input matInput placeholder="Facility Type" autocomplete="off" id="transactionFacility" class="transactionValue" type="text" formControlName="facilityType">
      </mat-form-field>
      </div>
      
      <br>
    
      <h1>Transaction Type:</h1>
      <fieldset class="toggle">
        <mat-radio-button name="weight/volume" value="actualweight">Actual Weight</mat-radio-button>
        <mat-radio-button name="weight/volume" value="estimatedweight">Estimated Weight</mat-radio-button>
      </fieldset>

      <br>

      <mat-button-toggle-group name="costRevenue" aria-label="Cost or Revenue Toggle">
        <mat-button-toggle value="cost">Cost</mat-button-toggle>
        <mat-button-toggle value="revenue">Revenue</mat-button-toggle>
      </mat-button-toggle-group>

      <br>

    <div class=miniBox><h1>Transaction Details: </h1>
      <label for="PoundsDisposed" class="transactionValue">Pounds:</label>
      <mat-form-field>
        <input matInput placeholder="Pounds" autocomplete="off" id="PoundsDisposed" type="text" class="transactionValue" name="pounds">
      </mat-form-field>
      <label for="CostPerPound" class="transactionValue">Cost Per Pound: </label>
      <mat-form-field>
        <input matInput placeholder="Cost Per Pound" autocomplete="off" id="CostPerPound" type="text" class="transactionValue" name="costperpound">
      </mat-form-field>

      <br>

      <label for="TonsDisposed" class="transactionValue">Weight (Tons): </label>
      <mat-form-field>
        <input matInput placeholder="Weight (Tons)" autocomplete="off" id="TonsDisposed" type="text" class="transactionValue" name="weight">
      </mat-form-field>
      <label for="CostPerTon" class="transactionValue">Cost Per Ton:</label>
      <mat-form-field>
        <input matInput placeholder="Cost Per Ton" autocomplete="off" id="CostPerTon" type="text" class="transactionValue" name="costperton">
      </mat-form-field>

      <br>

      <label for="finalCost" class="transactionValue finalCost">Final Cost: </label>
      <mat-form-field>
        <input matInput placeholder="Final Cost" autocomplete="off" id="finalCost" type="text" class="transactionValue finalCost" name="finalcost" formControlName="finalCost">
      </mat-form-field>

    </div>
    
    <br>  
    
      <label class="transactionValue" for="Invoice">Invoice No: </label>
      <input id="Invoice" type="text" name="Invoice">

      <br>

      <button mat-raised-button (click)='this.ClearChosenTransaction()' routerLink='/disposal'>Cancel</button>
      <button mat-raised-button>Save Changes</button>

  </div>
</form>
  