<form [formGroup]="form" (ngSubmit)="SaveSubmit()">
    <div class="recyclingTransactionBox">
      <h1 class="headline">Recycling Transaction<i aria-label="Help Button for Recycling Transactions" class="formTooltip fas fa-question-circle" style="margin: 0px 0px 0px 20px"></i></h1>
  
      <div class="miniBox">
          <h1>Enter your Transaction Date: </h1><br>
          <input class='datePicker' autocomplete="off" [matDatepicker]="myDatepicker" formControlName="actionDate">
          <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #myDatepicker></mat-datepicker>
  
          <div class="selectWrap">
              <label for="tenantList" class="transactionValue">Tenant: </label> 
              <mat-form-field>
                <mat-select class="tenantList facilitySelect" placeholder="Tenant" aria-placeholder="Tenant List" formControlName="tenant">
                  <mat-option *ngFor="let items of tenantList" [value]="items.tntId">
                    {{items.tenantName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

        </div>
        
      <div class="miniBox2">
        <h1>Transaction Type:</h1>
  
        <div class='miniBox' style="width: auto;">
          <label for="transactionCategory" class="transactionValue" style="width: auto;">Recycle Category: </label> 
          <mat-form-field>
            <mat-select class="recyclingSelect" placeholder="Recycle Category" aria-placeholder="Recycling Category List" formControlName="recyclingCat">
              <mat-option *ngFor="let items of recycleCategory" [value]="items.code">
                {{items.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <label for="transactionMaterial" class="transactionValue" style="width: auto;">Recycling Type: </label> 
          <mat-form-field>
            <mat-select class="recyclingSelect" placeholder="Recycle Type" aria-placeholder="Recycling Type List" formControlName="recyclingType">
              <mat-option *ngFor="let subItems of recycleType" [value]="subItems.recTypeCode">
                {{subItems.recTypeName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          </div>
        <br>

        <mat-radio-group class="toggle" name="costOrRevenue" aria-label="Cost or Revenue Toggle" formControlName="costOrRevenue">
          <mat-radio-button value="cost">Cost</mat-radio-button><br>
          <mat-radio-button value="revenue">Revenue</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group class="toggle" formControlName="transactionType">
          <mat-radio-button value="actual">Actual Weight</mat-radio-button>
          <mat-radio-button value="estimated">Estimated Weight</mat-radio-button>
        </mat-radio-group>

        <mat-radio-group class="toggle" formControlName="isQRP">
          <mat-radio-button value="1">QRP</mat-radio-button><br>
          <mat-radio-button value="0">Non QRP</mat-radio-button>
        </mat-radio-group>
  
      </div>
  
      <div class=miniBox><h1>Transaction Details: </h1>
        <label for="WeightDisposed" class="transactionValue">Weight (Tons):</label>
        <mat-form-field>
          <input matInput placeholder="Weight" autocomplete="off" id="WeightDisposed" type="number" class="transactionValue" name="weight" formControlName="weight">
        </mat-form-field>
        <label for="CostPerUnit" class="transactionValue">Cost Per Unit: </label>
        <mat-form-field>
          <input matInput placeholder="Cost Per Unit" autocomplete="off" id="CostPerUnit" type="number" class="transactionValue" name="costperunit" formControlName="costByWeight">
        </mat-form-field>$
  
        <br>
  
        <label for="finalCost" class="transactionValue finalCost">Final Cost: </label>
        <mat-form-field>
          <input matInput readonly=true placeholder="Final Cost" autocomplete="off" id="finalCost" type="text" class="transactionValue finalCost" name="finalcost" formControlName="finalCost">
        </mat-form-field>$
  
      </div>
      
      <div class=miniBox2>
          <label class="transactionValue" for="Invoice">Invoice No: </label>
          <input id="Invoice" class="transactionValue" type="text" name="Invoice" formControlName="invoiceNo"><br>

          <mat-form-field style="margin-left: 40px; width: 700px;">
            <textarea matInput class="localUse" placeholder="Local Use:" formControlName="localUseBox"></textarea>
          </mat-form-field>
      </div>

        <br>
  
        <button mat-raised-button (click)='this.ClearChosenTransaction()' routerLink='/recycling'>Cancel</button>
        <button mat-raised-button type="submit" [disabled]="!form.valid">Save Changes</button>
  
    </div>
  </form>
    